.Integrate {
  padding-top: 60px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: auto;
}
.Integrate img{
  width: 1200px;
}
.Integrate h1{
  font-size: 4rem;
  color: #141414;
}
.Integrate h1 span{
  color: black;
}
.Integrate p span{
  border-bottom: 1px solid black;
}
.Integrate p{
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}
@media (max-width:1200px){
  .Integrate{
    flex-direction: column;
    text-align: center;
  }
  .Integrate img{
    display: none;
  }
}
@media (max-width:800px){
  .Integrate h1{
    font-size: 3rem;
  }
}
