.Header {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header{
  background: white;
  padding: 18px;
}
header ul {
  display: flex;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
header a{
  color: #141414;
}

header ul li:after{
  content: '';
  display: block;
  background: #161616;
  width: 0%;
  height: 2px;
  transition: 0.2s;
}
header ul li:hover:after {
  width: 100%;
}
@media (max-width:1200px){
  header ul li:after{
    display: none;
  }
  
}
@media (max-width:800px){
  .Header{
    flex-direction: column;
  }
  .Header li{
    padding: 10px;
    background: #f1f1f1;
    border-radius: 2px;
  }
  .Header li:hover{
    background: #eee;
  }
}
@media (max-width:450px){
  header ul{
    margin-left: -40px;
  }
}
@media (max-width:390px){
  header{
    width: 100%;
  }
  header ul{
    margin-left: -60px;
  }
}
@media (max-width:320px){
  .Header ul{
    font-size: 15px;
  }
}