.Footer{
  margin-top: 60px;
  background: white;
  padding: 20px;
}
footer{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
footer a{
  color: #141414;
}
footer ul{
  display: flex;
  gap: 40px;
  font-family: 'Roboto';
  font-size: 18px;
}
@media (max-width:1200px){
  footer{
    flex-direction: column;
  }
  footer li{
    margin-top: 20px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 2px;
  }
  footer li:hover{
    background: #eee;
  }
  footer ul{
    margin-left: -40px;
  }
}