.Address{
  padding-top: 160px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  margin: auto;
}
.Address h1{
  font-size: 3rem;
}
.Address p{
  font-size: 1.5rem;
  font-family: 'Roboto';
}
@media (max-width:1200px){
  .Address{
    text-align: center;
    flex-direction: column;
  }
}
@media (max-width:800px){
  .Address img{
    width: 200px;
  }
}